:root{
    --white:#fff;
    --p:#2a2a2a;
    --red:#fb5849;
    --txtb:#1e1e1e;
    --btxt:#191a20;
    --bblue:#3B566E;
    --txtgray:#afafaf;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
  max-width: 500px;
  margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--white);
    width: 100%;
    height: 80px;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.293) ;
    left: 0;
    top: 0;
    padding: 0 40px;
    z-index: 100;
}
header img{
    width: 170px;
}
.humbermenu{
    display: flex;
    flex-direction: column;
    gap: 7px;   
}
.humbermenu hr{
    border-radius: 10px;
    background-color: var(--txtb);
    border: none;
}
.hr1{
    width: 25px;
    height: 2px;
}
.hr2{
    width:  30px;
    height: 2px;
}
.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/top-left-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 490px; 
    margin-top: 20px;
  }
  .firstsection{
    padding: 0;
  }
  .inner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .inner-content h4{
    font-size: 54px;
    color: var(--white);
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
  }
  .sectionabout{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
  }
  .infoi{
    width: 100%;
  }
  .infoi h1{
    width: 400px;
  }
  .infoi p{
    width: 400px;
  }
  .inner-content h6{
    font-size: 15px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .inner-content button{
    background-color: white;
    padding:12px 25px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    color: var(--red);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: 300ms all linear;
  }
  .inner-content button:hover{
    background-color: #ffffffd8;
  }
  .img-fill{
    background-image: url(../assets/images/slide-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }
  .section-heading{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .Line{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .subtitles{
    text-transform: uppercase;
    font-size:15px;
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--red);
    font-family: 'Poppins', sans-serif;
  }
  .caption{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: var(--p);
    line-height: 40px;
    margin-top: 10px;
  }
  .la{
    text-decoration: none;
    color: #007bff;
    transition: 500ms all linear;
  }
  .la:hover{
    color: rgb(7, 84, 166);
}
  .player{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 20px;
    background-color:var(--red);
    transition: 300ms all linear;
    cursor: pointer;
  }
  .player:hover{
    background-color: #fb5849e6;
  }
  .captioncres{
    color: var(--white);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
  }
  .section-heading p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    color: var(--p);
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .row img{
    width: 30%;
  }
  .vpic{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/about-video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  .vpic img{
    width: 15%;
  }
  .menuline{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
  }
  section{
    padding: 0 15px;
  }
  .products{
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    margin-top: 20px;
    border-radius: 7px;
  }
  .products div{
    min-width: 100%;
    width: 100%;
    height: 400px;
    background-color: var(--btxt);
    border-radius: 5px;
    background-color: #007bff;
  }
  .products ::-webkit-scrollbar{
    display: none;
  }
  .first{
    background-image: url(../assets/images/menu-item-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .secound{
    background-image: url(../assets/images/menu-item-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .third{
    background-image: url(../assets/images/menu-item-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .forth{
    background-image: url(../assets/images/menu-item-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fifth{
    background-image: url(../assets/images/menu-item-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .price{
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 80px;
    height: 80px;
    background-color: var(--red);
    color: var(--white);
    font-size: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .chefsd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    gap: 10px;
  }
  .cookers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
  }
  .cooker{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 500px;
    border: 1px solid var(--p);
    border-radius: 5px;
    padding: 5px;
  }
  .cooker h1{
    padding-top: 10px;
    font-size: 30px;
    color: var(--p);
    font-family: 'Poppins', sans-serif;
  }
  .cooker span{
    font-size: 15px;
    color: var(--p);
    font-family: 'Poppins', sans-serif;
  }
  .pic1{
    background-image: url(../assets/images/chefs-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 90%;
  }
  .pic2{
    background-image: url(../assets/images/chefs-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 90%;
  }
  .pic3{
    background-image: url(../assets/images/chefs-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 90%;
  }
  .contact{
    background-image: url(../assets/images/reservation-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1500px;
    margin-top: 90px;

  }
  .contact{
    padding: 0 15px;
  }
  .contactline{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 130px;
  }
  .contactline h1{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
  }
  .contactline img{
    background-color: var(--white);
  }
  .captionc{
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
  }
  .pcaptiontop{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    line-height: 2;
  }
  .phonep{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    margin-top: 10px;
  }
  .phonei{
    width: 70px;
    border-radius: 100%;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: var(--white);
    z-index: -20;
    top: 0;
    border-radius: 5px;
    gap: 2px;
  }
  .info h4{
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
  }
  .info span{
    font-weight: 600;
    font-size: 14px;
    color: var(--p);
    font-family: 'Poppins', sans-serif;
  }
  .email{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    margin-top: 150px;
  }
  .table{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: 700px;
    margin-top: 130px;
    border-radius: 5px;
    padding: 0 20px;
  }
  .table h4{
    color: var(--bblue);
    font-size: 30px;
    color: var(--p);
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
  }
  .table input,
  .table textarea,
  .table select {
    color: black;
    font-size: 14px;
    border: 1px solid var(--txtgray);
    background-color: var(--white);
    width: 100%;
    height: 46px;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;
  }
  .table textarea{
    padding-top: 10px;
    width: 100%;
    color: black;
    height: 150px;
  }
  textarea::placeholder{
    color: black;
  }
  .table input:focus,
  .table textarea:focus,
  .table select:focus {
    border-color: var(--red);
  }
  input::placeholder{
    color: black;
  }
  select::placeholder{
    color: var(--p);
  }
  .inputs{
    margin-top: 20px;
  }
  .table button {
    margin-top: -10px;
    font-size: 15px;
    color: #fff;
    background-color: #fb5849;
    padding: 12px 25px;
    width: 100%;
    height: 50px;
    box-shadow: none;
    border: none;
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
  }
  .table button:hover {
    opacity: .9;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
  }
  
  .table ::-webkit-input-placeholder { 
    color: var(--p);
  }
  
  .table :-ms-input-placeholder {
    color: var(--p);
  }
  
  .table ::placeholder {
    color: var(--p);
  }
  .week{
    margin-top: 20px;
    text-align: center;
  }
  .meal{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 25px;
  }
  .fast{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .fast span{
    letter-spacing: 0;
    font-weight: 600;
  }
  .fast span:hover{
    color: black;
  }
  .foodinfo{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 60px;
    margin-top: 40px;
  }
  .prod{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .prod img{
    width: 20%;
    border-radius: 5px;
  }
  .resfood1{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .resfood2{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .txtes{
    display: flex;
    flex-direction: column;
    width: 50%;

  }
  .txtes h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  .txtes p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  .pricef {
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 80px;
    height: 80px;
    background-color: var(--red);
    color: var(--white);
    font-size: 30px;
    border-radius: 5px;
  }
  .price h6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    background-color: var(--red);
    width: 100%;
    height: 320px;
  }
  .platforms svg{
    background-color: white;
    border-radius: 100%;
    border: none;
    padding: 15px 0;
  }
  .platforms{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }
  footer p{
    font-size: 14px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
  }
  header ul{
    display: none;
  }
  @media only screen and (min-width: 768px){
    header ul{
      display: flex;
      align-items: center;
      gap: 15px;
      list-style-type: none;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 700;
    }
    header li{
      cursor: pointer;
      transition: all 200ms linear;
    }
    header li:hover{
      color: var(--red);
      opacity: -15px;
    }
    .tab{
      text-decoration: none;
      color: var(--p);
      cursor: pointer;
      transition: all 200ms linear;
    }
    .tab:hover{
      color: var(--red2);
      opacity: -15px;
    }
    .Features{
      border: none;
      background-color: transparent;
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: var(--p);
    }
    .Features:focus{
      outline: none;
    }
    .humbermenu{
      display: none;
    }
    .sectionabout{
      padding-top: 130px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      margin-top: 30px;
    }
    .sectionmenu{
      padding-top: 100px;
    }
    .chefsd{
      padding-top: 130px;
    }
    .iabout{
      display: flex;
      flex-direction: column;
      width: 250px;
      gap: 10px;
    }
    .vpic{
      display: flex;
      align-items: center;
      justify-content: center;
      width:370px;
      height: 250px;
    }
    .infoi h1{
      width: 250px;
    }
    .infoi p{
      width: 370px;
      font-size: 15px;
    }
    .row{
      width: 350px;
    }
    .resfood1{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
    .resfood2{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
    .products div{
      min-width: 50%;
      width: 50%;
    }
    .products::-webkit-scrollbar{
      display: none;
    }
    .cooker{
      width: 95%;
      height: 900px;
      border: 1px solid var(--p);
      border-radius: 5px;
      padding: 5px;
    }
    .contact{
      padding: 0 40px;
    }
    .foodinfo{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  @media only screen and (min-width: 992px){
    header{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    header ul{
      gap: 30px;
      font-size: 17px;

    }
    .firstsection{
      display: flex;
      align-items: center;
    }
    .left-content{
      width: 35%;
      height: 780px;
    }
    .img-fill{
      width: 65%;
      height: 800px;
    }
    .sectionabout{
      margin: 70px auto;
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 250px;
    }
    .row{
      width: 450px;
    }
    .infoi{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 500px;
    }
    .vpic{
      width: 550px;
      height: 450px;
    }
    .infoi h1{
      width: 400px;
    }
    .infoi p{
      width: 100%;
    }
    .menusec{
      margin: 0 auto;
      width: 1050px;
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
    }
    .captionm{
      width: 400px;
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      font-weight: 900;
      color: var(--p);
      line-height: 40px;
      margin-top: 10px;
    }
    .products div{
      min-width: 18.5%;
      border-radius: 5px;
    }
    .products::-webkit-scrollbar{
      display: none;
    }
    .chefsd h1{
      width: 300px;
    }
    .cookers{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .cooker{
      height: 400px;
      width: 23%;
    }
    .contact{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 650px;
      gap: 20px;   
    }
    .phonep{
      width: 250px;
    }
    .email{
      width: 250px;
      top: -70px;
    }
    .capres{
      display: flex;
      flex-direction: column;
      width: 650px;
    }
    .resinfo{
      margin-top: -40px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      width: 500px;
    }
    .table{
      width: 500px;
      height: 510px;
    }
    .resinp{
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    .resinp2{
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    .inpres{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .cres{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -135px;
      gap: 20px;
      
    }
    .rescontect{
      margin-top: 70px;
    }
    .captioncres{
      color: var(--white);
      font-size: 35px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
    }
    .timessec{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .foodinfo{
      display: grid;
      grid-template-columns: auto auto;
      width: 1200px;
      gap: 60px;
    }
    .resfood1{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    .resfood2{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    footer{
      height: 180px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 50px;
    }
    .platforms{
      margin-top: 0;
    }
    .prod img{
      width: 22%;
      border-radius: 5px;
    }
  }